.Diet {
  padding: 22% 0;
  width: 100%;
}

.Diet-info {
  font-size: 16px;
  padding-bottom: 5vh;
}

.Diet-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

/* @media (max-width: 450px) {
  .Diet {
  }
} */