.Response {
  padding: 22% 0;
  width: 100%;
}

.Response-info {
  font-size: 16px;
  padding-bottom: 5vh;
}

.Response-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Response-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: right;
}