.Response {
  padding: 10% 0;
}

.Response-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Response-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .TextFormGroup-input {
    width: 100%;
  }
}