.Response {
  padding: 22% 0;
  width: 100%;
}

.Response-info {
  font-size: 16px;
  padding-bottom: 5vh;
}

.Response-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 20px;
}

.Response-buttons {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}