.TextFormGroup {
  position: relative;
}

.TextFormGroup-label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  transition: .5s ;
  padding-left: 16px;
  color: #CACACA;
}

.TextFormGroup-input {
  width: 50%;
  height: 50px;
  padding: 24px 16px 4px 16px;
  color: white;
  margin-bottom: 30px;
  background-color: #474747;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #C2C2C2;
  font-size: 1.2rem;
  border-radius: 4px 4px 0 0;
}

.TextFormGroup-input:focus {
  border-bottom: 1.5px solid #50BAC7;
  background-color: #747373;
}

.TextFormGroup-input:focus ~ label,
.TextFormGroup-input:valid ~ label {
  top: 4px;
  font-size: 0.8rem;
  color: #50BAC7;
}

@media (max-width: 700px) {
  .TextFormGroup-input {
    width: 100%;
  }
}