form {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background: none;
  display: flex;
  justify-content: space-between;
  color: #FFC36D;
}

h3 {
  margin: 0;
}

.feather {
  position: absolute;
  top: 0;
  width: 30vw;
}

.left {
  right: -78%;
}

@media (max-width: 1275px) {
  form {
    width: 75%;
    justify-content: center;
  }
}