form {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background: none;
  display: flex;
  justify-content: space-between;
}

.feather {
  position: absolute;
  top: 0;
  width: 30vw;
}

.left {
  right: -78%;
}

