@font-face {
  font-family: Grenadier;
  src: url('./_fonts/GrenadierNF.otf');
}

@font-face {
  font-family: DM Sans;
  src: url('./_fonts/DMSans-Medium.ttf');
}

body {
  color: white;
  font-size: 24px;
  font-family: DM Sans;
  margin: 0;
  background-color: #737573;
  accent-color: #50BAC7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: Grenadier;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
  color: #FFC36D;
}