@font-face {
  font-family: Grenadier;
  src: url('./_fonts/GrenadierNF.otf');
}

@font-face {
  font-family: DM Sans;
  src: url('./_fonts/DMSans-Regular.ttf');
}

body {
  color: white;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 100;
  margin: 0;
  width: 100vw;
  background-color: #737573;
  accent-color: #50BAC7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Grenadier;
  font-weight: 100;
  font-size: 72px;
  margin: 0;
  color: #FFC36D;
}